<footer class="page-footer font-small indigo" id="contacts">
    <div class="container text-center text-md-left">
      <div class="row">
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
          <h5 class="footer-heading font-weight-bold text-uppercase mt-3 mb-4" style="color:#3d3d3d;">Address</h5>
          <ul class="list-unstyled footer-text">
            <li style="color:#3d3d3d;" class="list">Almaty city</li>
            <li style="color:#3d3d3d;" class="list">Manasa Street, 34.1 Building</li>			
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
          <h5 class="footer-heading font-weight-bold text-uppercase mt-3 mb-4" style="color:#3d3d3d;">Call Us</h5>
          <ul class="list-unstyled footer-text">
            <li style="color:#3d3d3d;" class="list">+7708 3795359</li>
            <li style="color:#3d3d3d;" class="list">+7700 3430097</li> 
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
          <h5 class="footer-heading font-weight-bold text-uppercase mt-3 mb-4" style="color:#3d3d3d;">Social media</h5>
          <ul class="list-unstyled footer-text">
            <li class="list">
              <!-- <a href="https://www.google.com/"><i class="fab fa-google-plus-square" style="font-size:30px; color:#3d3d3d;"></a></i>
              <a href="https://facebook.com/"><i class="fab fa-facebook-square" style="font-size:30px;color:#3d3d3d;"></a></i>
              <a href="https://vk.com/"><i class="fab fa-vk" style="font-size:30px;color:#3d3d3d;"></a></i>
              <a href="https://instagram.com/"><i class="fab fa-instagram" style="font-size:30px;color:#3d3d3d;"></a></i>
              <a href="https://twitter.com/"><i class="fab fa-twitter" style="font-size:30px;color:#3d3d3d;"></a></i> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-text footer-copyright text-center py-3" style="color:#3d3d3d;">
      © 2021 Copyright IITU Advanced Web Project
    </div>
</footer>