<br>
<div class="col-sm-6 col-md-12 top-cards">
  <div class="card" style="margin-top: 50px;">
    <div class="card-body" *ngFor="let service of services">
      <h5 class="card-title">Type of work: {{service.typeOfWork | uppercase}}</h5>
      <p class="card-text">Comment: {{service.comments | lowercase}}</p>
      <p class="card-text">Date: {{service.date | date}}</p>
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#domestic-modal">
        <span>Cost: {{service.price | discount:firstClient:defaultClient}}</span>
       </a>
    </div>
  </div>
</div>
<div *ngIf="services.length < 1">
  <div style="min-height: 460px;">
    <h1 style="text-align: center;">There is not order services</h1>
  </div>
</div>