<div class="container">
<div class="answers">
  <h3>Answers - Questions</h3>
  <ngb-accordion #acc="ngbAccordion">
  color: black;">
    <ngb-panel  title="What kind of testing do specialists undergo?">
      <ng-template ngbPanelContent>
        Specialists marked ✔️ provided their documents to confirm their identity and were checked for the absence of gross offenses
      </ng-template>
    </ngb-panel>
    <ngb-panel  title="How do I leave a review for a specialist?">
      <ng-template ngbPanelContent>
        Open the desired order in the My Requests tab and select chat with the specialist who performed the work. Tap the three dots at the top of the screen and tap Write a Review.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="I agreed with a specialist, what's next?">
      <ng-template ngbPanelContent>
        If you have agreed with a specialist, click on the " Agreed” button in the chat with him. The request status will change to " Inactive” and you will no longer receive new responses.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
</div>
<hr>