<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Do All</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css"/>
</head>
<body id="mainPage">
<app-header></app-header>
<!--  <app-services></app-services>-->
<!--  <app-answer></app-answer>-->
<router-outlet></router-outlet>
<app-footer></app-footer>

</body>
</html>
