<!-- Domestic Modal -->
<div class="container">
  <div class="images mt-5 mb-0">
    <img src="assets/image.png" class="img-fluid" id="mainImage" />
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Domestic help</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="" method="post" >
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Choose type of work</label>
                  <select class="custom-select mr-sm-2" name="type_of_work" [(ngModel)]="services.typeOfWork" required>
                    <option disabled>Please Choose...</option>
                    <option value="Cooking">Cooking</option>
                    <option value="Babysitters">Babysitters</option>
                    <option value="Gardeners">Gardeners</option>
                  </select>
                </div>
              </div>
              <div class="form-group text">
                <label for="Price">Your bid price</label>
                <input type="number" class="form-control" placeholder="2500 tg" name="cost" [(ngModel)]="services.price" required>
              </div>
              <div class="form-group text">
                <label for="Comments">Your comments</label>
                <textarea class="form-control" rows="3" name="comments" [(ngModel)]="services.comments"></textarea>
              </div>
              <div class="form-group text">
                <label for="Date">Your date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="services.date" required>              
              </div>
              <div class="col-auto" id="submit-button">
                <input type="submit" class="btn btn-primary" name="sbm"  (click)="modal.dismiss('Cross click')" (click)="sendServices()" value="Submit" >
              </div>
			      </form>
          </div>
  </ng-template>
    <!-- HouseHold Repair Modal -->
    <ng-template #content1 let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">HouseHold Repair</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Choose type of work</label>
                  <select class="custom-select mr-sm-2" name="type_of_work" [(ngModel)]="services.typeOfWork" required>
                    <option disabled>Please Choose...</option>
                    <option value="Plumbers">Plumbers</option>
                    <option value="Electricians">Electricians</option>
                    <option value="Weldeers">Welders</option>
                  </select>
                </div>
              </div>
              <div class="form-group text">
                <label for="Price">Your bid price</label>
                <input type="text" class="form-control" placeholder="2500 tg" name="cost" [(ngModel)]="services.price" required>
              </div>
              <div class="form-group text">
                <label for="Comments">Your comments</label>
                <textarea class="form-control" rows="3" name="comments" [(ngModel)]="services.comments"></textarea>
              </div>
              <div class="form-group text">
                <label for="Date">Your date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="services.date" required>              
              </div>
              <div class="col-auto" id="submit-button">
                <input type="submit" class="btn btn-primary" name="sbm"  (click)="modal.dismiss('Cross click')" (click)="sendServices()" value="Submit" >
              </div>
			      </form>
    </div>
  </ng-template>
    <!-- Interior finish Modal -->
    <ng-template #content2 let-modal> 
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Interior finish</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Choose type of work</label>
                  <select class="custom-select mr-sm-2" name="type_of_work" [(ngModel)]="services.typeOfWork" required>
                    <option disabled>Please Choose...</option>
                    <option value="Plasters">Plasters</option>
                    <option value="Painters">Painters</option>
                    <option value="Tilers">Tilers</option>
                  </select>
                </div>
              </div>
              <div class="form-group text">
                <label for="Price">Your bid price</label>
                <input type="text" class="form-control" placeholder="2500 tg" name="cost" [(ngModel)]="services.price" required>
              </div>
              <div class="form-group text">
                <label for="Comments">Your comments</label>
                <textarea class="form-control" rows="3" name="comments" [(ngModel)]="services.comments"></textarea>
              </div>
              <div class="form-group text">
                <label for="Date">Your date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="services.date" required>              
              </div>
              <div class="col-auto" id="submit-button">
                <input type="submit" class="btn btn-primary" name="sbm"  (click)="modal.dismiss('Cross click')" (click)="sendServices()" value="Submit" >
              </div>
            </form>
          </div>
      </ng-template>
    <!-- Machinery and equipment Modal -->
    <ng-template #content3 let-modal>
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Machinery and equipment</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Choose type of work</label>
                  <select class="custom-select mr-sm-2" name="type_of_work" [(ngModel)]="services.typeOfWork" required>
                    <option disabled>Please Choose...</option>
                    <option value="HouseHold">HouseHold</option>
                    <option value="Computer">Computer</option>
                    <option value="Security">Security</option>
                  </select>
                </div>
              </div>
              <div class="form-group text">
                <label for="Price">Your bid price</label>
                <input type="text" class="form-control" placeholder="2500 tg" name="cost" [(ngModel)]="services.price" required>
              </div>
              <div class="form-group text">
                <label for="Comments">Your comments</label>
                <textarea class="form-control" rows="3" name="comments" [(ngModel)]="services.comments"></textarea>
              </div>
              <div class="form-group text">
                <label for="Date">Your date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="services.date" required>              
              </div>
              <div class="col-auto" id="submit-button">
                <input type="submit" class="btn btn-primary" name="sbm"  (click)="modal.dismiss('Cross click')" (click)="sendServices()" value="Submit" >
              </div>
            </form>
          </div>
        </ng-template>
    <!-- Shipping and Delivery Modal -->
    <ng-template #content4 let-modal>
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Shipping and Delivery</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Choose type of work</label>
                  <select class="custom-select mr-sm-2" name="type_of_work" [(ngModel)]="services.typeOfWork" required>
                      <option disabled>Please Choose...</option>
                      <option value="Gazelles">Gazellles</option>
                      <option value="Couriers">Couriers</option>
                      <option value="Loaders">Loaders</option>
                  </select>
                </div>
              </div>
              <div class="form-group text">
                <label for="Price">Your bid price</label>
                <input type="text" class="form-control" placeholder="2500 tg" name="cost" [(ngModel)]="services.price" required>
              </div>
              <div class="form-group text">
                <label for="Comments">Your comments</label>
                <textarea class="form-control" rows="3" name="comments" [(ngModel)]="services.comments"></textarea>
              </div>
              <div class="form-group text">
                <label for="Date">Your date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="services.date" required>              
              </div>
              <div class="col-auto" id="submit-button">
                <input type="submit" class="btn btn-primary" name="sbm"  (click)="modal.dismiss('Cross click')" (click)="sendServices()" value="Submit" >
              </div>
            </form>
          </div>
        </ng-template>
    <!-- Building Modal -->
    <ng-template #content5 let-modal>
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Building</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Choose type of work</label>
                  <select class="custom-select mr-sm-2" name="type_of_work" [(ngModel)]="services.typeOfWork" required>
                    <option disabled>Please Choose...</option>
                    <option value="Welders">Welders</option>
                    <option value="Workers">Workers</option>
                    <option value="Roofers">Roofers</option>
                  </select>
                </div>
              </div>
              <div class="form-group text">
                <label for="Price">Your bid price</label>
                <input type="text" class="form-control" placeholder="2500 tg" name="cost" [(ngModel)]="services.price" required>
              </div>
              <div class="form-group text">
                <label for="Comments">Your comments</label>
                <textarea class="form-control" rows="3" name="comments" [(ngModel)]="services.comments"></textarea>
              </div>
              <div class="form-group text">
                <label for="Date">Your date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="services.date" required>              
              </div>
              <div class="col-auto" id="submit-button">
                <input type="submit" class="btn btn-primary" name="sbm"  (click)="modal.dismiss('Cross click')" (click)="sendServices()" value="Submit" >
              </div>
            </form>
          </div>
        </ng-template>
    <!-- IT and freelance Modal -->
    <ng-template #content6 let-modal>
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">IT and freelance</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Choose type of work</label>
                  <select class="custom-select mr-sm-2" name="type_of_work" [(ngModel)]="services.typeOfWork" required>
                    <option disabled>Please Choose...</option>
                    <option value="Developers">Developers</option>
                    <option value="Designers">Designers</option>
                    <option value="Photographers">Photographers</option>
                  </select>
                </div>
              </div>
              <div class="form-group text">
                <label for="Price">Your bid price</label>
                <input type="text" class="form-control" placeholder="2500 tg" name="cost" [(ngModel)]="services.price" required>
              </div>
              <div class="form-group text">
                <label for="Comments">Your comments</label>
                <textarea class="form-control" rows="3" name="comments" [(ngModel)]="services.comments"></textarea>
              </div>
              <div class="form-group text">
                <label for="Date">Your date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="services.date" required>              
              </div>
              <div class="col-auto" id="submit-button">
                <input type="submit" class="btn btn-primary" name="sbm"  (click)="modal.dismiss('Cross click')" (click)="sendServices()" value="Submit" >
              </div>
            </form>
          </div>
        </ng-template>
    <!-- Health and beauty Modal -->
    <ng-template #content7 let-modal>
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Health and beauty</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Choose type of work</label>
                  <select class="custom-select mr-sm-2" name="type_of_work" [(ngModel)]="services.typeOfWork" required>
                    <option disabled>Please Choose...</option>
                    <option value="Massage">Massage</option>
                    <option value="Hair removal">Hair removal</option>
                    <option value="Nails">Nails</option>
                  </select>
                </div>
              </div>
              <div class="form-group text">
                <label for="Price">Your bid price</label>
                <input type="text" class="form-control" placeholder="2500 tg" name="cost" [(ngModel)]="services.price" required>
              </div>
              <div class="form-group text">
                <label for="Comments">Your comments</label>
                <textarea class="form-control" rows="3" name="comments" [(ngModel)]="services.comments"></textarea>
              </div>
              <div class="form-group text">
                <label for="Date">Your date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="services.date" required>              
              </div>
              <div class="col-auto" id="submit-button">
                <input type="submit" class="btn btn-primary" name="sbm"  (click)="modal.dismiss('Cross click')" (click)="sendServices()" value="Submit" >
              </div>
            </form>
          </div>
        </ng-template>
    <!-- Business services Modal -->
    <ng-template #content8 let-modal>
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Business services</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Choose type of work</label>
                  <select class="custom-select mr-sm-2" name="type_of_work" required>
                    <option disabled>Please Choose...</option>
                    <option value="Accountants">Accountants</option>
                    <option value="Lawyers">Lawyers</option>
                    <option value="Managers">Managers</option>
                  </select>
                </div>
              </div>
              <div class="form-group text">
                <label for="Price">Your bid price</label>
                <input type="text" class="form-control" placeholder="2500 tg" name="cost" [(ngModel)]="services.price" required>
              </div>
              <div class="form-group text">
                <label for="Comments">Your comments</label>
                <textarea class="form-control" rows="3" name="comments" [(ngModel)]="services.comments"></textarea>
              </div>
              <div class="form-group text">
                <label for="Date">Your date</label>
                <input type="date" class="form-control" name="date" [(ngModel)]="services.date" required>              
              </div>
              <div class="col-auto" id="submit-button">
                <input type="submit" class="btn btn-primary" name="sbm"  (click)="modal.dismiss('Cross click')" (click)="sendServices()" value="Submit" >
              </div>
            </form>
          </div>
        </ng-template>
	</div>
  <div id="mainPart">
    <div id="all-services">
      <h3>All Services</h3>
	      <div class="row services-list">
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Domestic help</h5>
                <p class="card-text">Cleaning, dry cleaning, gardeners, etc.</p>
                <a  class="btn btn-primary" (click)="open(content)" style="color: white;">Make Request</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Household repair</h5>
                <p class="card-text">Plumbers, electricians and welders, etc.</p>
                <a class="btn btn-primary" (click)="open(content1)" style="color: white;">Make Request</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Interior finish</h5>
                <p class="card-text">Plasters, painters, tile builders and tilers, etc.</p>
                <a  class="btn btn-primary" (click)="open(content2)" style="color: white;">Make Request</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Machinery and equipment</h5>
                <p class="card-text">Household, computer, alarm and security, etc.</p>
                <a class="btn btn-primary" (click)="open(content3)" style="color: white;">Make Request</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Shipping and Delivery</h5>
                <p class="card-text">Gazelles, couriers, loaders and garbage collection, etc.</p>
                <a class="btn btn-primary" (click)="open(content4)" style="color: white;">Make Request</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Building</h5>
                <p class="card-text">Welders, workers, roofers and bricklayers, etc.</p>
                <a class="btn btn-primary" (click)="open(content5)" style="color: white;">Make Request</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">IT and freelance</h5>
                <p class="card-text">Developers, designers, smm, photographers, etc</p>
                <a class="btn btn-primary" (click)="open(content6)" style="color: white;">Make Request</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Health and beauty</h5>
                <p class="card-text">Massage, hair removal, care for eyebrows, nails, etc.</p>
                <a class="btn btn-primary" (click)="open(content7)" style="color: white;">Make Request</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Business services</h5>
                <p class="card-text">Accountants, lawyers, insurers and managers, etc.</p>
                <a class="btn btn-primary" (click)="open(content8)" style="color: white;">Make Request</a>
              </div>
            </div>
          </div>
	      </div>
	  </div>
	</div>
